* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Lexend', sans-serif;
  }
  
  body, html {
    height: 100%;
  }
  
  .container {
    display: flex;
    height: 100vh;
  }
  
  /* Kiri: background singa */
  .left {
    flex: 1;
    background: url('../img/singa.jpg') no-repeat center center/cover;
    position: relative;
  }
  
  .logo {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
  }
  
  .logo img {
    width: 220px;
    max-width: 90%;
  }
  
  /* Kanan: form */
  .right {
    flex: 1;
    background-color: #201F38;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  .form-box {
    background-color: #F7C317;
    padding: 2rem;
    border-radius: 20px;
    width: 90%;
    max-width: 350px;
  }
  
  /* Label */
  form label {
    display: block;
    margin-bottom: 0.3rem;
    font-size: 0.9rem;
    color: #201F38;
    font-weight: 600;
  }
  
  /* Input */
  form input {
    width: 100%;
    padding: 0.75rem;
    margin-bottom: 1rem;
    border: none;
    border-radius: 20px;
    font-size: 1rem;
  }
  
  form input:focus {
    outline: 2px solid #201F38;
    background-color: #ffffff;
  }
  
  /* Tombol Daftar */
  form button {
    width: 50%;
    display: block;
    margin: 0 auto; 
    padding: 0.75rem;
    background-color: #201F38;
    color: #F7C317;
    border: none;
    border-radius: 20px;
    font-size: 1rem;
    cursor: pointer;
    transition: all 0.3s ease;
  }
  
  form button:hover {
    background-color: #EAECEF;
    color: #201F38;
    transform: scale(1.03);
  }
  
  /* Link masuk */
  .login-link {
    margin-top: 1rem;
    text-align: center;
    font-size: 0.85rem;
    color: #201F38;
  }
  
  .login-link a {
    color: #201F38;
    font-weight: bold;
    text-decoration: none;
    position: relative;
    display: inline-block;
    transition: all 0.3s ease;
  }
  
  .login-link a:hover {
    transform: scale(1.05);
  }
  
  .login-link a::after {
    content: '';
    position: absolute;
    width: 0;
    height: 2px;
    bottom: -3px;
    left: 0;
    background-color: #201F38;
    transition: width 0.3s ease;
  }
  
  .login-link a:hover::after {
    width: 100%;
  }
  
  .judul-daftar {
  display: flex;
  align-items: center;
  gap: 2rem; /* jarak antara icon dan teks */
  font-size: 1.5rem;
  color: #201F38;
  font-weight: bold;
  margin-bottom: 1rem;
  }
  
  .back-icon {
  color: #201F38;
  font-size: 1.2rem;
  text-decoration: none;
  transition: transform 0.3s ease;
  }
  
  .back-icon:hover {
  transform: translateX(-3px);
  color: #EAECEF;
  }
  
  